{% extends 'base.html' %}
{% comment %} {% block title %}Register{% endblock title %} {% endcomment %}
{% block content %} 

<div class="row d-flex justify-content-center mt-4">
    <div class="col-sm-6">
        <h4 class="text-center alert alert-info">Login</h4>
        {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-danger">
            {{message}}
            </div>
            {% endfor %}
        {% endif %}
    
        
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="name">username</label>
            <input type="text" name="username" id="" class="form-control"  required>
            </div>
            <div>
                <label for="password">password</label>
            <input type="password" name="password" class="form-control" id="" required>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Login">
            <div>
                Already have an account <a href="{% url 'register_attempt' %}" class="btn btn-info">Sign-up</a>
            </div>  
        </form>
    
    </div>
</div>


{% endblock content %}